# vim: ft=jinja
DEVICE=eth0
TYPE=Ethernet
ONBOOT=yes
NM_CONTROLLED=yes
BOOTPROTO=none
HOSTNAME={{vm_name}}
IPADDR={{vm_ip}}
NETMASK={{vm_netmask|default("255.255.255.0")}}
GATEWAY={{vm_gateway|default("192.168.116.254")}}
{% if dns_servers|default([])|length %}
{% for dns_server in dns_servers %}
DNS{{loop.index}}={{dns_server}}
{% endfor %}
{% endif %}
USERCTL=no
PEERDNS=yes
IPV6INIT=no
